@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

img {
  transition: opacity 0.4s ease-in-out;
}

a {
  text-decoration: none;
}
