@tailwind base;
@tailwind components;
@tailwind utilities;
:root { color-scheme: dark; }
body::before{content:"";position:fixed;inset:0;pointer-events:none;background:radial-gradient(50% 40% at 50% 0%, rgba(255,255,255,0.06), rgba(0,0,0,0));}
body::after{content:"";position:fixed;inset:0;mix-blend-mode:overlay;opacity:.07;pointer-events:none;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M0 10L10 0M-5 10L10 -5M0 15L15 0' stroke='%23ffffff' stroke-opacity='.6' stroke-width='.2'/%3E%3C/svg%3E");}
